<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="GC Test">
  <parameter name="port" value="4455"></parameter>
    <classes>
      <class name="com.tests.SeleniumGrid_New"/>
    </classes>
  </test> 
  
  <test name="FF Test">
  <parameter name="port" value="4457"></parameter>
    <classes>
      <class name="com.tests.SeleniumGrid_New"/>
    </classes>
  </test> 
</suite> 
